<p>
  Para criar uma partida de futebol deve-se clicar em transmitir e, no cadastro
  da partida, selecionar futebol americano como esporte.
</p>
<%= image_tag 'https://lh5.googleusercontent.com/adh2ctIXi21QM97jLLXh0FfJo-e1NBOJ6Uapqd525IvkKZG8U2hx7qp6ZA_ibHPbj3cmkFthKOQV7ovcBS2r18JMKENPIupI09EofIw8ZcXSJqri9L1dhsr-Yw',
  class: 'img img-polaroid' %>
