<p>
  Sim. Há duas formas de isso acontecer:
  <ul>
    <li>
      a primeira, e mais óbvia, é a possibilidade de duas pessoas criarem uma
      partida (cada uma) para transmitir o mesmo jogo. Dessa maneira, os
      usuários transmitirão as partidas de maneira individual -- cada um em uma
      página de partida diferente;,
    </li>
    <li>
      a segunda, e mais divertida, é através de colaboração: um usuário cria
      uma única partida para transmitir o jogo e adiciona colaboradores para
      ajudar na transmissão. Dessa maneira, duas ou mais pessoas criam lances
      para uma única partida.
    </li>
  </ul>
</p>
