<p>
  uSport é um site completamente colaborativo, assim os principais responsáveis
  pela criação e manutenção dos times são os usuários.
</p>
<p>
  Na tentativa de organizar e facilitar as transmissões foi criado o conceito de
  times oficiais, que inicialmente são criados por uma equipe do uSport, mas em
  breve buscamos entrar em contato com os próprios times ou a federação para que
  possam dá suporte a mutenção dos times oficiais.
</p>
