<% content_for(:include_js) { 'channels' } %>

<% content_for :left_side_bar do %>
  <%= render partial: 'shared/leftbar' %>
<% end %>

<% if @channels.empty? # usuário não tem canal nenhum %>
  <div class='alert alert-info' id="empty-message">
    <% if current_user && current_user.id == params[:user_id].to_i %>
      <%# Página de visualização de canais de usuário sendo visualizada pelo dono %>
      Você ainda não possui um canal.
      <%= link_to "Crie agora!", new_channel_path(user_id: current_user) %>
    <% elsif params[:user_id] %>
      <%# Página de visualização de canais de usuário sendo visualizada não pelo dono %>
      O usuário ainda não possui nenhum canal.
    <% else %>
      Nada pra ver aqui. :(
    <% end %>
  </div>
<% end %>

<% @channels.each_with_index do |channel, counter| %>
  <%= render partial: 'preview', collection: [channel] %>
<% end %>
