<% if params[:user_id] # é a página de visualização dos canais de um usuário %>
  <% if @channels.empty? # usuário não tem canal nenhum %>
    Você ainda não possui um canal.
    <%= link_to "Crie agora!", new_user_channel_path(current_user) %>
  <% end %>
<% end %>

<% @channels.each_with_index do |channel,counter| %>
  <% if (counter % 4) == 0 %>
    <% if counter > 0 %>
      </div>
    <% end %>
    <div tb-d="Nothing" tb-768-980="Nothing" tb-g-1200="row-fluid" tb-g-1400="row-fluid" tb-g-1600="row-fluid">
  <% end %>
  <div class="span3" tb-g-1200="span3" tb-g-1600="span3" tb-768-980="Nothing">
    <div class="well thumbnail">
      <%= link_to user_channel_path(channel.owner, channel) do %>
        <h3><%= channel.name %></h3>
        <p><%= channel.description %></p>
      <% end %>
    </div>
  </div>
<% end %>
