<h1> Todos os canais </h1>

<% @channels.each do |channel| %>
  <div class="channel" %>
    <ul>
      <li>
        <%= link_to channel.name, user_channel_path(channel.owner.id, channel) %>
      </li>
    </ul>
  </div>
<% end %>