<% content_for :left_side_bar do %>
  <%= image_tag("profile_picture.jpg") %>
  <h1>
    <%= link_to @channel.name, user_channel_path(@channel.owner, @channel) %>
  </h1>
  <% if current_user %>
    <%#TODO Verificar se o usuário tem permissão para transmitir nesse canal %>
    <%= link_to "Transmitir nova partida!",
      new_user_channel_match_path(current_user, @channel) %>
  <% end %>
<% end %>

<h2>Partidas</h2>
<% if @channel.matches.length == 0 %>
  Esse canal ainda não transmitiu nenhuma partida
<% end %>
<ul>
  <% @channel.matches.each do |m| %>
    <li><%= link_to m.name, user_channel_match_path(@channel.owner, @channel, m) %></li>
  <% end %>
</ul>
