<div style='float: left; margin-right: 15px;'>
  <b><%= link_to team_player.display_name, player_path(team_player) %></b>
  <% if team_player.number %>
	  ,#<%= team_player.number %>
  <% end %>
</div>
