<% content_for :left_side_bar do %>
<ul class="nav nav-list bs-docs-sidenav affix">
  <li class="active">
    <a href="#uSport">
      uSport
      <i class="icon-chevron-right"></i>
    </a>
  </li>
  <li>
    <a href="#eventos">
      Tipos de Eventos
      <i class="icon-chevron-right"></i>
    </a>
  </li>
  <li>
    <a href="#transmissao">
      Transmissão
      <i class="icon-chevron-right"></i>
    </a>
  </li>
</ul>
<% end %>
<div class="span9">
<section id="uSport">
  <br />
  <div class="page-header">
    <h1>O que é o uSport?</h1>
      <p>
        É uma plataforma web para transmissão de eventos esportivos em que
        os usuários são os protagonistas: além de acompanhar e comentar as
        partidas, são eles que as transmitem.
      </p>
      <p>
        Ao se cadastrar no sistema, ou logar pelo facebook, você poderá criar
        partidas e enviar suas jogadas em forma de lance a lance. Se você só
        quiser acompanhá-las, basta acessá-la pela nossa página inicial ou
        diretamente através do link partida.
      </p>
  </div>
</section>
<section id="eventos">
  <br />
  <div class="page-header">
    <h1>Que tipo de eventos posso transmitir ou acompanhar?</h1>
      <p>
        Por enquanto o uSport suporta apenas a transmissão de partidas de
        Futebol Americano. Nossa proposta é expandir para outros esportes --
        depois que essa primeira etapa estiver consolidada, ou seja, assim que
        for possível transmitir partidas de Futebol Americano de maneira fácil.
      </p>
      <p>
        No futuro a Quince pretende ampliar as possibilidades de suporte para
        os mais diversos tipos de eventos. Não seria legal poder transmitir e
        acompanhar palestras e congressos?
      </p>
      <p>
        Vale salientar que os responsáveis pelas transmissões do uSport são os
        usuários e não a equipe que desenvolve a plataforma.
      </p>
  </div>
</section>
<section id="transmissao">
  <br />
  <div class="page-header">
    <h1>Como posso transmitir?</h1>

    <% if false %>
      <p>
        A transmissão é o principal elemento da plataforma e está disponível
        através da página de v

        Você também vai poder olhar os lances de
        partidas já
        terminadas, além de conferir as que estiverem marcadas para acontecer.
      </p>
    <% end %>
    <p>
      Para transmitir é necessário estar logado e criar uma partida. Criar uma
      partida é muito fácil: basta clicar em "Transmitir!" na barra superior.
    </p>
    <br />
    <%= image_tag 'https://lh3.googleusercontent.com/1K0-XYwIlIu0Kj3iN4As8RfeTbQVGA0Jh0bTvI1tP72L0LWbNkD-bR_SGaIDzFFeoKCfpHADDm9WnvsiaKLkQrpNStN84wfUVA4rkoDVAoOb55yf7aXQVsdjNQ',
      class: 'img img-polaroid' %>
    <br /><br />
    <p>
      Caso esteja em um celular ou tablet, você precisa clicar no botão à
      direita para expandir o menu e então clicar em "Transmitir!".
    </p>
    <%= image_tag 'https://lh5.googleusercontent.com/iEKET2XLJdkgz_a5tFeS4X0sGG34Pd-9n44BXEVB8biUifLeabHzvvZYfOFPUmdLGIVdg5NvkYu-cnuF5FXXO3nOZTQU2UWQlRcbSRHvC4S_fIgiqP_u3WVi3A',
      class: 'img img-polaroid' %><br /><br />
    <%= image_tag 'https://lh4.googleusercontent.com/387FKLnK_PW-UnVUJOLH-5KwOxzfTuNn0DffdDdXE1Dx8N32xtYCovBF0GdHZCM_BH_OtdgaZ_PYlUb9Xes7uQObOZeJcXpBeZWCfKNhCibrOueKuDzRw1TcTw',
      class: 'img img-polaroid' %><br /><br />
    <p>
      Na página de criação de partida você deve dar um nome a ela e escolher os
      dois times que se enfrentarão dentre as opções existentes. Caso um dos
      times ou mesmo os dois ainda não estejam em nosso sistema, você mesmo pode
      criá-los no link "Gerenciar times e jogadores".
    </p>
    <p>
      Você pode, ainda na página de criação de partidas, informar data e local --
      mas essas informações não são obrigatórias. Note que só há uma
      possibilidade para o tipo de esporte.
    </p>
    <p>
      Após a criação você será direcionado a página da partida, onde poderá
      criar jogadas. Os espectadores não terão esse poder, mas conseguirão
      interagir comentando as jogadas.
    </p>
    <p>
      A criação de uma jogada é simples. Você deve escolher o tipo na barra
      superior se estiver em desktop ou clicar em "Nova jogada" caso esteja em
      um celular ou tablet. Depois é só inserir as informações. Lembrando que
      apenas os campos com * são obrigatórios -- mas quanto maior a quantidade
      de informações que você passar, mais rica será a transmissão.
    </p>
    <p>
      Para lhe ajudar na transmissão, você pode
      escolher uma lista de colaboradores para o seu canal. Esses colaboradores
      poderão criar jogadas em suas partidas. Para isso vá a página
      de se canal depois em editar.
    </p>
    <p>
      Lembrando que vocês, usuários, são os protagonistas do noso sistema. Para
      que ele consiga cobrir todo o futebol Americano nacional, precisamos que
      vocês colaborem criando partidas e enviando seus principais lances.
    </p>
    <p>
      Fácil não é? Qualquer dúvida ou sugestão contato@quinceminds.com
    </p>
  </div>
</section>
</div>
