<!-- <div class="row">
  <div class="span3 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav affix">
      <li class="active">
        <a href="#uSport">  
          uSport
          <i class="icon-chevron-right"></i> 
        </a>
      </li>
      <li class>
        <a href="#Encontrar">  
          Deve esperar
          <i class="icon-chevron-right"></i> 
        </a>
      </li>
      <li class>
        <a href="#Transmitir">  
          Transmissao
          <i class="icon-chevron-right"></i> 
        </a>
      </li>
    </ul>
   </div> 
</div>
 -->
<div class="span9">
<section id="uSport">
  <div class="page-header">
    <h1>uSport</h1>
      <p style="font-size:20px">
        Olá, o uSport é uma plataforma para transmissão de eventos (em geral esportivos).
        Onde os usuários tem o poder de transmitir. Ao se cadastrar no sistema, 
        ou logar pelo facebook você poderá criar 
        partidas e transmití-las em forma de lance a lance. 
        Caso só esteja interessado em acompanhá-las. 
        Na nossa página inicial encontrará uma lista ordenada pelo número de pessoas 
        acompanhando aquela partida. 
      </p>
  </div>
</section> 

<section id="Encontrar">
  <div class="page-header">
    <h1>O que deve encontrar equi</h1>
      <p style="font-size:20px">
        Inicialmente o uSport suporta a criação de partidas de futebol americano. 
        Você encontrará o lance a lance das partidas criadas pelos usuários do uSport.
        Algumas delas serão marcadas em nossa página inicial como o Banner a seguir:
      </p>
      <p style="font-size:20px">
        Nessas partidas uma equipe do uSport estará presente, tanto para divulgar o 
        produto como incentivar os usuários a transmití-las. Como foi o caso em 
        Recife Pirates vs Scorpions. Você também vai poder olhar os lances de partidas já 
        terminadas, além de conferir as que estiverem marcadas para acontecer.

        Lembrando que vocês (usuários) são os protagonistas
        do noso sistema. Para que ele consiga cobrir todo o futebol Americano nacional
        , precisamos que vocês colaborem criando partidas e enviando sus principais lances.
        
      </p>
  </div>
</section>

<section id="Transmissao">
  <div class="page-header">
    <h1>A Transmissao</h1>
    <p style="font-size:20px">
      Criar uma partidas é muito facil, basta estar logado e clicar em Transmitir! 
      Na barra superior. Caso esteja em celular ou tablet é necessário apertar no botão a 
      direita para aparecer o link Transmitir!
    </p>
    <p style="font-size: 20px;">
      Na página de criação de partida você deve dá um nome a ela e escolher os dois times que se 
      enfrentarão. Dentre as opções existentes.
      Caso um dos times ou mesmo os dois
      ainda não esteja em nosso sistema, você mesmo pode criá-lo no link
      Gerenciar times e jogadores.
      Opcionalmente informar data e local. Quanto ao esporte inicialmente só há a opção 
      futebol americano, mas logo virão outros.
    </p>
    <p style="font-size:20px;">
      Após a criação será direcionado a página da partida, onde será identificado como dono. Assim
      poderá criar jogadas. Os espectadores que você não tiver autorizado não terão esse poder, 
      mas conseguirão interagir comentando as jogadas.
      Para lhe ajudar na transmissao, você pode escolher uma lista de colaboradores ao seu canal.
      Esses colaboradores poderão criar jogadas em suas partidas. Para isso vá a página
      de se canal depois em editar.
    </p>
    <p style="font-size:20px">
      A criação de uma jogada é simples. Você deve escolher o tipo na barra superior se estiver em desktop ou clicar em "Nova jogada" caso esteja em um celular ou tablet. Depois é só inserir as informações. Lembrando que apenas os campos com * são obrigatórios, mas quanto maior a quantidade de informações passar mais rica será a transmissão.
    </p>
    <p style="font-size:20px">
      Fácil não é? Qualquer dúvida ou sugestão contato@quinceminds.com
    </p>
  </div>
</section>

</div>

