<% content_for(:include_js) { 'landing' } %>
<div class = "span12 well" >
  <div class="span4" style ="margin-left: 10px;" >
    <%= image_tag 'PvsS.jpg', style: 'width: 330px' %>
  </div>

  <div class = "span6"  >
    <p align= "Justify" style = "font-size: 25px; color: rgb(30,30,30); font-family: arial; margin-top: 5px;"> Recife Pirates Vs Scorpions Natal. 
    </p>
    <p align= "Justify" style = "font-size: 18px; color: rgb(30,30,30); font-family: arial;">
      Hoje à noite os usuários do uSport vão poder transmitir esse grande jogo! Quem estiver no Estádio Municipal de Camaragibe mais tarde pode acessar o site para transmitir a partida e quem estiver em casa pode acessar para acompanhar o lance-a-lance.
    </p>
    <p align= "Justify" style = "font-size: 18px; color: rgb(30,30,30); font-family: arial;  ">
      Criar uma partida é muito fácil: basta clicar em “Transmitir”. Se você encontrar alguma dificuldade ou tiver qualquer dúvida / sugestão sobre o uSport, pode mandar para a gente! Nosso endereço de e-mail é contato@quince.com.br
    </p>
  </div>
</div>
<% content_for :left_side_bar do %>
  <%= render partial: 'shared/leftbar' %>
<% end %>

<% if @matches.empty? %>
  <div class='alert alert-info' id="empty-message">
    Nada pra ver aqui. :(
  </div>
<% else %>
  <div class="thumbnails">
    <%= render :partial => 'matches/preview', :collection => @matches %>
  </div>
<% end %>

</div>
