<% content_for(:include_js) { 'landing' } %>

<% content_for :left_side_bar do %>
  <%= render partial: 'shared/leftbar' %>
<% end %>

<% if @matches.empty? %>
  <div class='alert alert-info' id="empty-message">
    Nada pra ver aqui. :(
  </div>
<% else %>
  <div class="thumbnails">
    <%= render :partial => 'matches/preview', :collection => @matches %>
  </div>
<% end %>

</div>
