<% content_for(:include_js) { 'landing' } %>

<% content_for :left_side_bar do %>
  <%= render partial: 'shared/leftbar' %>
<% end %>

<% if @matches_per_day.empty? %>
  <div class='alert alert-info' id="empty-message">
    Nada pra ver aqui. :(
  </div>
<% else %>
  <% @matches_per_day.each do |day, previews| %>
    <hr />
    <h3><%= day %></h3>
    <ul class="thumbnails">
      <%= render partial: 'matches/preview', collection: previews %>
    </ul>
  <% end %>
<% end %>

</div>
