<% content_for(:include_js) { 'landing' } %>

<% content_for :left_side_bar do %>
  <%= render partial: 'shared/leftbar' %>
<% end %>

<div class="thumbnails">
    <%= render :partial => 'matches/preview', :collection => @matches %>
</div>
</div>
