<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">USport</a>
        <p class="navbar-text pull-right">
          <a href="#" class="navbar-link">Login</a>
        </p>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>