<li class="span3">
	<div class="well thumbnail">
	  <%= link_to user_channel_match_path(preview.channel.owner, preview.channel, preview) do %>
	    <h3><%= preview.teams[0].name %> contra <%= preview.teams[1].name %></h3>
	    <p>Um jogo legal, bacana, supimpa e divertido!</p>
	  <% end %>
	</div>
</li>
