<p>Oi, <%= @resource.first_name %>!</p>

<p>Foi solicitada a recuperação de senha para sua conta no USport vinculada ao seguinte endereço de e-mail:</p>
<ul>
  <li><%= @resource.email %></li>
</ul>
<p>Você pode recuperar sua senha clicando no link abaixo.</p>

<p>
  <%= link_to 'Configurar nova senha',
    edit_password_url(@resource, reset_password_token: @resource.reset_password_token) %>
</p>

<p>
  Se não foi você quem solicitou a recuperação de senha ou se não sabe do que se
  trata, por favor, desconsidere esta mensagem. A senha da conta não será alterada
  até que o link acima seja acessado e uma nova senha seja configurada.
</p>

<p>
  Esta é uma mensagem gerada automaticamente. Ainda assim, fique à vontade para
  respondê-la com quaisquer dúvidas ou sugestões.
</p>

<p>
  Atenciosamente,<br />
  www.usport.com.br
</p>
